@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:500");
body {
  font-family: "Playfair Display", serif;
  font-size: 16px; }

.subtitle {
  font-family: "Roboto", sans-serif; }

.title {
  font-family: "Playfair Display", serif; }

.paragraph {
  font-size: 1rem;
  font-weight: 400; }

.btn {
  border: none;
  font-size: 1.125rem;
  font-weight: bold; }
  .btn.btn-primary {
    background-color: #FFD0D0;
    color: #fff; }
    .btn.btn-primary:hover {
      background-color: #ED9191; }
  .btn.btn-default {
    background-color: #d8d8d8;
    color: #333; }
    .btn.btn-default:hover {
      background-color: #666; }
  .btn.btn-light {
    background-color: #fff;
    color: #666; }
  .btn.btn-outline {
    border: 1px solid #fff;
    background-color: transparent; }

header {
  width: 100vw;
  padding: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  -ms-transition: all ease-in-out 300ms;
  -o-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms; }
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    header nav .nav-item.nav-brand a {
      color: #FFD0D0; }
    header nav .nav-item.nav-main ul {
      padding-left: 0;
      margin-bottom: 0; }
      header nav .nav-item.nav-main ul li {
        display: inline-block;
        padding-left: 7px;
        padding-right: 7px; }
        header nav .nav-item.nav-main ul li a {
          color: #666;
          font-weight: 700; }
          header nav .nav-item.nav-main ul li a:hover {
            text-decoration: none; }
  header.active {
    padding: 15px 60px;
    background-color: #FFD0D0;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms; }
    header.active .nav-item.nav-brand a {
      color: #fff; }
    header.active .nav-item.nav-main ul li a {
      color: #fff; }
    header.active .nav-item.nav-btn .btn {
      border: 1px solid #fff; }
  header.light nav .nav-item.nav-main ul li a {
    color: #fff; }

@media (max-width: 992px) {
  header {
    padding: 30px; }
    header nav .nav-item.nav-main #expand-nav #btn-nav-expand {
      -webkit-transition: all ease-in-out 300ms;
      -moz-transition: all ease-in-out 300ms;
      -ms-transition: all ease-in-out 300ms;
      -o-transition: all ease-in-out 300ms;
      transition: all ease-in-out 300ms; }
      header nav .nav-item.nav-main #expand-nav #btn-nav-expand span.nav-icon {
        width: 30px;
        height: 5px;
        background-color: #666;
        display: block;
        position: relative;
        -webkit-transition: all ease-in-out 300ms;
        -moz-transition: all ease-in-out 300ms;
        -ms-transition: all ease-in-out 300ms;
        -o-transition: all ease-in-out 300ms;
        transition: all ease-in-out 300ms; }
        header nav .nav-item.nav-main #expand-nav #btn-nav-expand span.nav-icon:before, header nav .nav-item.nav-main #expand-nav #btn-nav-expand span.nav-icon:after {
          content: "";
          display: block;
          width: 30px;
          height: 5px;
          background-color: #666;
          position: absolute;
          -webkit-transition: all ease-in-out 300ms;
          -moz-transition: all ease-in-out 300ms;
          -ms-transition: all ease-in-out 300ms;
          -o-transition: all ease-in-out 300ms;
          transition: all ease-in-out 300ms; }
        header nav .nav-item.nav-main #expand-nav #btn-nav-expand span.nav-icon:before {
          margin-top: -10px; }
        header nav .nav-item.nav-main #expand-nav #btn-nav-expand span.nav-icon:after {
          margin-top: 10px; }
      header nav .nav-item.nav-main #expand-nav #btn-nav-expand.active {
        -webkit-transition: all ease-in-out 300ms;
        -moz-transition: all ease-in-out 300ms;
        -ms-transition: all ease-in-out 300ms;
        -o-transition: all ease-in-out 300ms;
        transition: all ease-in-out 300ms; }
        header nav .nav-item.nav-main #expand-nav #btn-nav-expand.active span.nav-icon {
          background-color: transparent; }
          header nav .nav-item.nav-main #expand-nav #btn-nav-expand.active span.nav-icon:before {
            margin-top: 0;
            transform: rotate(45deg); }
          header nav .nav-item.nav-main #expand-nav #btn-nav-expand.active span.nav-icon:after {
            margin-top: 0;
            transform: rotate(-45deg); }
    header nav .nav-item.nav-main ul {
      position: absolute;
      top: 100%;
      left: 100%;
      width: 100%;
      padding: 50px 30px;
      background-color: #fff;
      list-style: none;
      -webkit-transition: all ease-in-out 300ms;
      -moz-transition: all ease-in-out 300ms;
      -ms-transition: all ease-in-out 300ms;
      -o-transition: all ease-in-out 300ms;
      transition: all ease-in-out 300ms; }
      header nav .nav-item.nav-main ul li {
        padding-top: 7px;
        padding-bottom: 15px;
        border-bottom: 1px solid #999; }
        header nav .nav-item.nav-main ul li a {
          color: #999; }
        header nav .nav-item.nav-main ul li:last-of-type {
          border-bottom: none; }
      header nav .nav-item.nav-main ul.active {
        left: 0%;
        -webkit-transition: all ease-in-out 300ms;
        -moz-transition: all ease-in-out 300ms;
        -ms-transition: all ease-in-out 300ms;
        -o-transition: all ease-in-out 300ms;
        transition: all ease-in-out 300ms; }
        header nav .nav-item.nav-main ul.active li {
          display: list-item; }
    header nav .nav-item.nav-lang ul {
      list-style: none; }
      header nav .nav-item.nav-lang ul li {
        display: inline-block; }
        header nav .nav-item.nav-lang ul li a {
          color: #666; }
    header nav .nav-item.nav-btn {
      display: none; }
    header.light nav .nav-item.nav-main ul li a {
      color: #666; }
    header.light nav .nav-item.nav-main #expand-nav #btn-nav-expand span.nav-icon {
      background-color: #fff; }
      header.light nav .nav-item.nav-main #expand-nav #btn-nav-expand span.nav-icon:before, header.light nav .nav-item.nav-main #expand-nav #btn-nav-expand span.nav-icon:after {
        background-color: #fff; }
    header.active nav .nav-item.nav-main ul li a {
      color: #666; }
    header.active nav .nav-item.nav-main #expand-nav #btn-nav-expand span.nav-icon {
      background-color: #fff; }
      header.active nav .nav-item.nav-main #expand-nav #btn-nav-expand span.nav-icon:before, header.active nav .nav-item.nav-main #expand-nav #btn-nav-expand span.nav-icon:after {
        background-color: #fff; } }
.mask {
  overflow: hidden; }
  .mask img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.text-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical; }

section {
  width: 100vw;
  overflow-x: hidden; }

.container-fluid.ads-short {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  background-color: #FFD0D0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .container-fluid.ads-short h5 {
    font-weight: 700;
    font-style: italic;
    margin-bottom: 0; }
  .container-fluid.ads-short .btn {
    margin-left: 15px; }
.container-fluid.ads-md {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .container-fluid.ads-md .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 208, 208, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .container-fluid.ads-md .overlay .content {
      text-align: center;
      color: #666; }
      .container-fluid.ads-md .overlay .content h3 {
        font-weight: 700; }
      .container-fluid.ads-md .overlay .content .btn {
        margin-top: 15px; }
        .container-fluid.ads-md .overlay .content .btn.btn-outline {
          color: #666; }

footer .container-fluid.top {
  padding: 50px 0;
  background-color: #FFD0D0; }
  footer .container-fluid.top .container .row .item h6 {
    font-weight: bold;
    font-size: 1.25rem;
    color: #fff;
    margin-bottom: 30px; }
  footer .container-fluid.top .container .row .item ul {
    padding-left: 0;
    list-style: none; }
    footer .container-fluid.top .container .row .item ul li a {
      color: #fff; }
      footer .container-fluid.top .container .row .item ul li a:hover {
        text-decoration: none; }
footer .container-fluid.bottom {
  padding-top: 30px; }
  footer .container-fluid.bottom .container:first-of-type {
    padding-bottom: 30px;
    border-bottom: 1px solid #999; }
    footer .container-fluid.bottom .container:first-of-type nav {
      display: flex;
      flex-direction: row;
      align-items: center; }
      footer .container-fluid.bottom .container:first-of-type nav .nav-main {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        footer .container-fluid.bottom .container:first-of-type nav .nav-main ul {
          padding-left: 0;
          margin-bottom: 0;
          list-style: none; }
          footer .container-fluid.bottom .container:first-of-type nav .nav-main ul li {
            display: inline-block;
            padding-left: 7px;
            padding-right: 7px; }
            footer .container-fluid.bottom .container:first-of-type nav .nav-main ul li a {
              color: #666; }
              footer .container-fluid.bottom .container:first-of-type nav .nav-main ul li a:hover {
                color: #FFD0D0; }
  footer .container-fluid.bottom .container:last-of-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px; }
    footer .container-fluid.bottom .container:last-of-type p {
      font-family: "Roboto", sans-serif;
      color: #999; }

@media (max-width: 992px) {
  footer .container-fluid.bottom .container:first-of-type nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    footer .container-fluid.bottom .container:first-of-type nav .nav-brand {
      margin-bottom: 30px; }
    footer .container-fluid.bottom .container:first-of-type nav .nav-main {
      display: flex;
      flex-direction: column; }
      footer .container-fluid.bottom .container:first-of-type nav .nav-main ul {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none; }
        footer .container-fluid.bottom .container:first-of-type nav .nav-main ul li {
          display: list-item;
          padding-left: 0px;
          padding-right: 0px;
          margin-bottom: 7px; }
          footer .container-fluid.bottom .container:first-of-type nav .nav-main ul li a {
            color: #666; }
            footer .container-fluid.bottom .container:first-of-type nav .nav-main ul li a:hover {
              color: #FFD0D0; }
  footer .container-fluid.bottom .container:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: left;
    padding-top: 15px;
    padding-bottom: 15px; } }
#homepage {
  padding-left: 30px;
  padding-right: 30px; }
  #homepage .container-fluid.slider {
    height: 100vh;
    padding: 30px 0; }
    #homepage .container-fluid.slider #slider {
      height: 100%; }
      #homepage .container-fluid.slider #slider .carousel-inner {
        height: 100%; }
        #homepage .container-fluid.slider #slider .carousel-inner .carousel-item {
          height: 100%; }
          #homepage .container-fluid.slider #slider .carousel-inner .carousel-item .mask {
            width: 100%;
            height: 100%; }
          #homepage .container-fluid.slider #slider .carousel-inner .carousel-item .content {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50vw;
            -webkit-transform: translate(-25%, -25%);
            -moz-transform: translate(-25%, -25%);
            -ms-transform: translate(-25%, -25%);
            -o-transform: translate(-25%, -25%);
            transform: translate(-25%, -25%);
            color: #fff;
            text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5); }
            #homepage .container-fluid.slider #slider .carousel-inner .carousel-item .content h1 {
              position: relative; }
              #homepage .container-fluid.slider #slider .carousel-inner .carousel-item .content h1 .line {
                position: absolute;
                top: 50%;
                left: -22%;
                width: 20%;
                height: 2px;
                background-color: #fff; }
            #homepage .container-fluid.slider #slider .carousel-inner .carousel-item .content .row {
              margin-top: 30px;
              margin-bottom: 30px; }
            #homepage .container-fluid.slider #slider .carousel-inner .carousel-item .content .btn {
              color: #fff; }
  #homepage .container-fluid.new-arrivals {
    margin-bottom: 30px;
    height: 55vh; }
    #homepage .container-fluid.new-arrivals .row {
      height: 100%; }
      #homepage .container-fluid.new-arrivals .row .left {
        padding-left: 0;
        padding-right: 0; }
        #homepage .container-fluid.new-arrivals .row .left .mask {
          width: 100%;
          height: 100%;
          position: relative; }
          #homepage .container-fluid.new-arrivals .row .left .mask .content {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            color: #fff;
            text-align: center; }
            #homepage .container-fluid.new-arrivals .row .left .mask .content h2 {
              font-size: 3rem; }
              #homepage .container-fluid.new-arrivals .row .left .mask .content h2 span {
                font-size: 2rem; }
      #homepage .container-fluid.new-arrivals .row .right {
        padding-left: 0;
        padding-right: 0; }
        #homepage .container-fluid.new-arrivals .row .right #arrivals {
          height: 100%; }
          #homepage .container-fluid.new-arrivals .row .right #arrivals .carousel-inner {
            height: 100%; }
            #homepage .container-fluid.new-arrivals .row .right #arrivals .carousel-inner .carousel-item {
              height: 100%; }
              #homepage .container-fluid.new-arrivals .row .right #arrivals .carousel-inner .carousel-item .mask {
                width: 100%;
                height: 100%; }
              #homepage .container-fluid.new-arrivals .row .right #arrivals .carousel-inner .carousel-item .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding-left: 70px;
                padding-right: 70px;
                background-color: rgba(255, 208, 208, 0.65);
                display: flex;
                align-items: center; }
                #homepage .container-fluid.new-arrivals .row .right #arrivals .carousel-inner .carousel-item .overlay .content {
                  color: #fff; }
                  #homepage .container-fluid.new-arrivals .row .right #arrivals .carousel-inner .carousel-item .overlay .content h6 {
                    margin-bottom: 0;
                    font-size: 1rem; }
                  #homepage .container-fluid.new-arrivals .row .right #arrivals .carousel-inner .carousel-item .overlay .content h3 {
                    font-weight: 700;
                    font-size: 3rem; }
                  #homepage .container-fluid.new-arrivals .row .right #arrivals .carousel-inner .carousel-item .overlay .content p {
                    margin-bottom: 30px; }
                  #homepage .container-fluid.new-arrivals .row .right #arrivals .carousel-inner .carousel-item .overlay .content .btn.btn-outline {
                    color: #fff; }
  #homepage .container-fluid.special {
    margin-bottom: 30px; }
    #homepage .container-fluid.special .heading {
      width: 100%;
      text-align: center; }
      #homepage .container-fluid.special .heading h1 {
        font-weight: 700;
        font-size: 2.25rem;
        color: #666;
        margin-bottom: 50px; }
    #homepage .container-fluid.special .body .owl-carousel .item {
      -webkit-transition: all ease-in-out 300ms;
      -moz-transition: all ease-in-out 300ms;
      -ms-transition: all ease-in-out 300ms;
      -o-transition: all ease-in-out 300ms;
      transition: all ease-in-out 300ms; }
      #homepage .container-fluid.special .body .owl-carousel .item a {
        text-decoration: none; }
      #homepage .container-fluid.special .body .owl-carousel .item .mask {
        width: 100%;
        height: 50vh; }
      #homepage .container-fluid.special .body .owl-carousel .item .content {
        padding-top: 30px;
        padding-bottom: 50px;
        text-align: center; }
        #homepage .container-fluid.special .body .owl-carousel .item .content h5 {
          color: #666; }
        #homepage .container-fluid.special .body .owl-carousel .item .content h6 {
          font-family: "Roboto", sans-serif;
          font-size: 1rem;
          color: #999; }
      #homepage .container-fluid.special .body .owl-carousel .item:hover {
        -webkit-transform: translate(0, -15px);
        -moz-transform: translate(0, -15px);
        -ms-transform: translate(0, -15px);
        -o-transform: translate(0, -15px);
        transform: translate(0, -15px);
        -webkit-transition: all ease-in-out 300ms;
        -moz-transition: all ease-in-out 300ms;
        -ms-transition: all ease-in-out 300ms;
        -o-transition: all ease-in-out 300ms;
        transition: all ease-in-out 300ms; }
    #homepage .container-fluid.special .body .owl-carousel .owl-dots {
      counter-reset: dots;
      text-align: center; }
      #homepage .container-fluid.special .body .owl-carousel .owl-dots button.owl-dot {
        width: 20px;
        height: 10px;
        margin-left: 7px;
        margin-right: 7px; }
        #homepage .container-fluid.special .body .owl-carousel .owl-dots button.owl-dot.active:before {
          font-weight: bold;
          color: #FFD0D0;
          padding-bottom: 3px;
          border-bottom: 2px solid #FFD0D0; }
        #homepage .container-fluid.special .body .owl-carousel .owl-dots button.owl-dot:before {
          font-family: "Roboto", sans-serif;
          color: #999;
          counter-increment: dots;
          content: counter(dots); }
      #homepage .container-fluid.special .body .owl-carousel .owl-dots button span {
        width: 20px;
        height: 10px; }
  #homepage .container-fluid.story {
    margin-bottom: 30px; }
    #homepage .container-fluid.story .heading {
      width: 100%;
      text-align: center; }
      #homepage .container-fluid.story .heading h1 {
        font-weight: 700;
        font-size: 2.25rem;
        color: #666;
        margin-bottom: 50px; }
    #homepage .container-fluid.story .body .row .item .top {
      width: 100%;
      height: 40vh;
      position: relative; }
      #homepage .container-fluid.story .body .row .item .top .mask {
        width: 60%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: all ease-in-out 300ms;
        -moz-transition: all ease-in-out 300ms;
        -ms-transition: all ease-in-out 300ms;
        -o-transition: all ease-in-out 300ms;
        transition: all ease-in-out 300ms; }
      #homepage .container-fluid.story .body .row .item .top .content {
        width: 50%;
        padding-right: 30px;
        position: absolute;
        top: 20%;
        left: 50%;
        -webkit-transition: all ease-in-out 300ms;
        -moz-transition: all ease-in-out 300ms;
        -ms-transition: all ease-in-out 300ms;
        -o-transition: all ease-in-out 300ms;
        transition: all ease-in-out 300ms; }
        #homepage .container-fluid.story .body .row .item .top .content h6 {
          margin-bottom: 0;
          color: #333; }
        #homepage .container-fluid.story .body .row .item .top .content h3 {
          color: #333; }
          #homepage .container-fluid.story .body .row .item .top .content h3.text-wrapper {
            height: 6.3rem;
            -webkit-line-clamp: 3; }
        #homepage .container-fluid.story .body .row .item .top .content a:hover {
          text-decoration: none; }
    #homepage .container-fluid.story .body .row .item .bottom {
      padding-top: 30px;
      padding-bottom: 30px; }
      #homepage .container-fluid.story .body .row .item .bottom .line {
        width: 75px;
        height: 3px;
        background-color: #979797;
        margin-bottom: 15px; }
      #homepage .container-fluid.story .body .row .item .bottom p {
        color: #999; }
    #homepage .container-fluid.story .body .row .item:hover .top .mask {
      left: 5%;
      -webkit-transition: all ease-in-out 300ms;
      -moz-transition: all ease-in-out 300ms;
      -ms-transition: all ease-in-out 300ms;
      -o-transition: all ease-in-out 300ms;
      transition: all ease-in-out 300ms; }
    #homepage .container-fluid.story .body .row .item:hover .top .content {
      left: 45%;
      -webkit-transition: all ease-in-out 300ms;
      -moz-transition: all ease-in-out 300ms;
      -ms-transition: all ease-in-out 300ms;
      -o-transition: all ease-in-out 300ms;
      transition: all ease-in-out 300ms; }
    #homepage .container-fluid.story .foot {
      text-align: center; }
  #homepage .container-fluid.connection {
    width: 100%;
    text-align: center;
    margin-bottom: 30px; }
    #homepage .container-fluid.connection h1 {
      font-weight: 700;
      font-size: 2.25rem;
      color: #666;
      margin-bottom: 15px; }
    #homepage .container-fluid.connection .line {
      width: 500px;
      height: 2px;
      margin: 0 auto 15px;
      background-color: #999; }
    #homepage .container-fluid.connection ul {
      padding-left: 0;
      list-style: none; }
      #homepage .container-fluid.connection ul li {
        display: inline-block;
        margin: 0 7px;
        font-size: 1.25rem; }
        #homepage .container-fluid.connection ul li a {
          color: #666; }
          #homepage .container-fluid.connection ul li a:hover {
            color: #FFD0D0; }

@media (max-width: 1024px) and (min-width: 768px) {
  #homepage {
    padding-left: 15px;
    padding-right: 15px; } }
@media (max-width: 768px) {
  #homepage {
    padding-left: 0;
    padding-right: 0; }
    #homepage .container-fluid.slider {
      padding: 0; }
      #homepage .container-fluid.slider #slider .carousel-inner .carousel-item .content {
        -webkit-transform: translate(-50%, -25%);
        -moz-transform: translate(-50%, -25%);
        -ms-transform: translate(-50%, -25%);
        -o-transform: translate(-50%, -25%);
        transform: translate(-50%, -25%); }
        #homepage .container-fluid.slider #slider .carousel-inner .carousel-item .content p {
          display: none; }
    #homepage .container-fluid.new-arrivals {
      height: auto; }
      #homepage .container-fluid.new-arrivals .row {
        height: auto; }
        #homepage .container-fluid.new-arrivals .row .left, #homepage .container-fluid.new-arrivals .row .right {
          height: 50vh; }
        #homepage .container-fluid.new-arrivals .row .right #arrivals .content p {
          display: none; } }
#list-collections {
  height: 100vh;
  display: flex;
  align-items: flex-end; }
  #list-collections .container-fluid {
    padding-left: 0;
    padding-right: 0; }
    #list-collections .container-fluid .row {
      height: 86vh; }
      #list-collections .container-fluid .row .left .mask {
        width: 100%;
        height: 100%;
        position: relative; }
        #list-collections .container-fluid .row .left .mask img {
          -webkit-transition: all ease-in-out 300ms;
          -moz-transition: all ease-in-out 300ms;
          -ms-transition: all ease-in-out 300ms;
          -o-transition: all ease-in-out 300ms;
          transition: all ease-in-out 300ms; }
        #list-collections .container-fluid .row .left .mask .wrapper {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          background-color: #FFD0D0;
          opacity: 0;
          -webkit-transition: all ease-in-out 300ms;
          -moz-transition: all ease-in-out 300ms;
          -ms-transition: all ease-in-out 300ms;
          -o-transition: all ease-in-out 300ms;
          transition: all ease-in-out 300ms; }
        #list-collections .container-fluid .row .left .mask .content {
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 3;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          color: #fff;
          text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }
          #list-collections .container-fluid .row .left .mask .content h1 {
            position: relative; }
            #list-collections .container-fluid .row .left .mask .content h1 .line {
              position: absolute;
              top: 15%;
              left: -22%;
              width: 20%;
              height: 2px;
              background-color: #fff; }
          #list-collections .container-fluid .row .left .mask .content h1 a, #list-collections .container-fluid .row .left .mask .content h4 a {
            color: #fff; }
            #list-collections .container-fluid .row .left .mask .content h1 a:hover, #list-collections .container-fluid .row .left .mask .content h4 a:hover {
              text-decoration: none; }
        #list-collections .container-fluid .row .left .mask:hover img {
          -webkit-transform: scale(1.1, 1.1);
          -moz-transform: scale(1.1, 1.1);
          -ms-transform: scale(1.1, 1.1);
          -o-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
          -webkit-transition: all ease-in-out 300ms;
          -moz-transition: all ease-in-out 300ms;
          -ms-transition: all ease-in-out 300ms;
          -o-transition: all ease-in-out 300ms;
          transition: all ease-in-out 300ms; }
        #list-collections .container-fluid .row .left .mask:hover .wrapper {
          opacity: 0.65;
          -webkit-transition: all ease-in-out 300ms;
          -moz-transition: all ease-in-out 300ms;
          -ms-transition: all ease-in-out 300ms;
          -o-transition: all ease-in-out 300ms;
          transition: all ease-in-out 300ms; }
      #list-collections .container-fluid .row .left .special {
        height: 100%; }
      #list-collections .container-fluid .row .left .others .item {
        width: 100%;
        height: 50%; }
      #list-collections .container-fluid .row .left .special, #list-collections .container-fluid .row .left .others {
        padding-left: 0;
        padding-right: 0; }
      #list-collections .container-fluid .row .right {
        height: 100%;
        padding-left: 0;
        padding-right: 0; }
        #list-collections .container-fluid .row .right .item {
          width: 100%;
          height: 100%; }
          #list-collections .container-fluid .row .right .item .mask {
            width: 100%;
            height: 100%;
            position: relative; }
            #list-collections .container-fluid .row .right .item .mask img {
              -webkit-transition: all ease-in-out 300ms;
              -moz-transition: all ease-in-out 300ms;
              -ms-transition: all ease-in-out 300ms;
              -o-transition: all ease-in-out 300ms;
              transition: all ease-in-out 300ms; }
            #list-collections .container-fluid .row .right .item .mask .wrapper {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 2;
              background-color: #FFD0D0;
              opacity: 0;
              -webkit-transition: all ease-in-out 300ms;
              -moz-transition: all ease-in-out 300ms;
              -ms-transition: all ease-in-out 300ms;
              -o-transition: all ease-in-out 300ms;
              transition: all ease-in-out 300ms; }
            #list-collections .container-fluid .row .right .item .mask .content {
              position: absolute;
              bottom: 20%;
              left: 15%;
              z-index: 3; }
              #list-collections .container-fluid .row .right .item .mask .content h1 {
                position: relative; }
                #list-collections .container-fluid .row .right .item .mask .content h1 .line {
                  position: absolute;
                  top: 50%;
                  left: -22%;
                  width: 20%;
                  height: 2px;
                  background-color: #fff; }
                #list-collections .container-fluid .row .right .item .mask .content h1 a {
                  color: #fff; }
                  #list-collections .container-fluid .row .right .item .mask .content h1 a:hover {
                    text-decoration: none; }
            #list-collections .container-fluid .row .right .item .mask:hover img {
              -webkit-transform: scale(1.1, 1.1);
              -moz-transform: scale(1.1, 1.1);
              -ms-transform: scale(1.1, 1.1);
              -o-transform: scale(1.1, 1.1);
              transform: scale(1.1, 1.1);
              -webkit-transition: all ease-in-out 300ms;
              -moz-transition: all ease-in-out 300ms;
              -ms-transition: all ease-in-out 300ms;
              -o-transition: all ease-in-out 300ms;
              transition: all ease-in-out 300ms; }
            #list-collections .container-fluid .row .right .item .mask:hover .wrapper {
              opacity: 0.65;
              -webkit-transition: all ease-in-out 300ms;
              -moz-transition: all ease-in-out 300ms;
              -ms-transition: all ease-in-out 300ms;
              -o-transition: all ease-in-out 300ms;
              transition: all ease-in-out 300ms; }

#detail-collection .cover {
  width: 100%;
  height: 100vh;
  background-color: #F8F5F5;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 30px; }
  #detail-collection .cover .image {
    width: 66.67%;
    height: calc(86vh - 30px);
    background-color: #FFD0D0;
    display: flex;
    flex-direction: row;
    position: relative; }
    #detail-collection .cover .image .item {
      width: 50%;
      height: 100%; }
      #detail-collection .cover .image .item .mask {
        width: 100%;
        height: 100%; }
    #detail-collection .cover .image .content {
      width: 50%;
      position: absolute;
      bottom: 20%;
      left: 97%; }
      #detail-collection .cover .image .content h6 {
        color: #666; }
      #detail-collection .cover .image .content h1 {
        color: #FFD0D0; }
#detail-collection .list-items {
  padding-top: 50px;
  padding-bottom: 70px; }
  #detail-collection .list-items .row .left .line {
    width: 75px;
    height: 3px;
    background-color: #999;
    margin-bottom: 30px; }
  #detail-collection .list-items .row .left p {
    color: #999; }
  #detail-collection .list-items .row .right .grid .grid-sizer, #detail-collection .list-items .row .right .grid .grid-item {
    width: 50%; }
  #detail-collection .list-items .row .right .grid .grid-item {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px; }
    #detail-collection .list-items .row .right .grid .grid-item.grid-item-mt {
      margin-top: 40px; }
    #detail-collection .list-items .row .right .grid .grid-item .image {
      width: 100%;
      height: 50vh;
      position: relative; }
      #detail-collection .list-items .row .right .grid .grid-item .image .mask {
        width: 80%;
        height: 100%; }
        #detail-collection .list-items .row .right .grid .grid-item .image .mask img {
          -webkit-transition: all ease-in-out 300ms;
          -moz-transition: all ease-in-out 300ms;
          -ms-transition: all ease-in-out 300ms;
          -o-transition: all ease-in-out 300ms;
          transition: all ease-in-out 300ms; }
      #detail-collection .list-items .row .right .grid .grid-item .image .name {
        width: 100%;
        height: 50px;
        position: absolute;
        top: 0;
        left: 100%;
        color: #999;
        -webkit-transform: rotateZ(90deg);
        -moz-transform: rotateZ(90deg);
        -ms-transform: rotateZ(90deg);
        -o-transform: rotateZ(90deg);
        transform: rotateZ(90deg);
        -webkit-transform-origin: top left;
        -moz-transform-origin: top left;
        -ms-transform-origin: top left;
        -o-transform-origin: top left;
        transform-origin: top left; }
    #detail-collection .list-items .row .right .grid .grid-item .content {
      padding-top: 15px; }
      #detail-collection .list-items .row .right .grid .grid-item .content h4 a {
        color: #666; }
        #detail-collection .list-items .row .right .grid .grid-item .content h4 a:hover {
          color: #FFD0D0;
          text-decoration: none; }
      #detail-collection .list-items .row .right .grid .grid-item .content h6 {
        color: #ccc;
        font-family: "Roboto", sans-serif; }
      #detail-collection .list-items .row .right .grid .grid-item .content .price {
        font-family: "Roboto", sans-serif;
        font-size: 1.125rem; }
        #detail-collection .list-items .row .right .grid .grid-item .content .price span {
          display: block;
          color: #666; }
          #detail-collection .list-items .row .right .grid .grid-item .content .price span small {
            color: #999;
            text-decoration: line-through; }
    #detail-collection .list-items .row .right .grid .grid-item:hover .mask img {
      -webkit-transform: scale(1.1, 1.1);
      -moz-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
      -o-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1);
      -webkit-transition: all ease-in-out 300ms;
      -moz-transition: all ease-in-out 300ms;
      -ms-transition: all ease-in-out 300ms;
      -o-transition: all ease-in-out 300ms;
      transition: all ease-in-out 300ms; }

@media (max-width: 992px) and (min-width: 768px) {
  #detail-collection .cover .image .item {
    width: 100%;
    height: 100%; }
    #detail-collection .cover .image .item:first-of-type {
      display: none; }
  #detail-collection .list-items .row .right .grid .grid-sizer, #detail-collection .list-items .row .right .grid .grid-item {
    width: 100%; } }
@media (max-width: 768px) {
  #list-collections {
    min-height: 100vh;
    height: auto; }
    #list-collections .container-fluid .row .left .others {
      display: none; }

  #detail-collection .cover .image .item {
    width: 100%;
    height: 100%; }
    #detail-collection .cover .image .item:first-of-type {
      display: none; }
  #detail-collection .cover .image .content {
    left: 50%; }
  #detail-collection .list-items .row .right .grid .grid-sizer, #detail-collection .list-items .row .right .grid .grid-item {
    width: 100%; } }
#products {
  padding-top: 15vh; }
  #products .content .row .left #sideBar .card {
    border: none; }
    #products .content .row .left #sideBar .card .card-header {
      background-color: transparent;
      border-bottom: 1px solid #666; }
      #products .content .row .left #sideBar .card .card-header h5 button.btn-link {
        color: #666; }
    #products .content .row .left #sideBar .card .card-body .item {
      font-family: "Roboto", sans-serif;
      margin-bottom: 15px; }
      #products .content .row .left #sideBar .card .card-body .item .item-head {
        padding-bottom: 7px;
        margin-bottom: 15px;
        font-size: 1.25rem;
        color: #999;
        border-bottom: 1px solid #999; }
      #products .content .row .left #sideBar .card .card-body .item .item-body .form-check .form-check-label {
        color: #999; }
  #products .content .row .left #sideBar.active {
    position: sticky;
    position: -webkit-sticky;
    top: 20vh; }
  #products .content .row .right .grid .grid-sizer, #products .content .row .right .grid .grid-item {
    width: 50%; }
  #products .content .row .right .grid .grid-item {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px; }
    #products .content .row .right .grid .grid-item.grid-item-mt {
      margin-top: 40px; }
    #products .content .row .right .grid .grid-item .image {
      width: 100%;
      height: 50vh;
      position: relative; }
      #products .content .row .right .grid .grid-item .image .mask {
        width: 80%;
        height: 100%; }
        #products .content .row .right .grid .grid-item .image .mask img {
          -webkit-transition: all ease-in-out 300ms;
          -moz-transition: all ease-in-out 300ms;
          -ms-transition: all ease-in-out 300ms;
          -o-transition: all ease-in-out 300ms;
          transition: all ease-in-out 300ms; }
      #products .content .row .right .grid .grid-item .image .name {
        width: 100%;
        height: 50px;
        position: absolute;
        top: 0;
        left: 100%;
        color: #999;
        -webkit-transform: rotateZ(90deg);
        -moz-transform: rotateZ(90deg);
        -ms-transform: rotateZ(90deg);
        -o-transform: rotateZ(90deg);
        transform: rotateZ(90deg);
        -webkit-transform-origin: top left;
        -moz-transform-origin: top left;
        -ms-transform-origin: top left;
        -o-transform-origin: top left;
        transform-origin: top left; }
    #products .content .row .right .grid .grid-item .content {
      padding-top: 15px; }
      #products .content .row .right .grid .grid-item .content h4 a {
        color: #666; }
        #products .content .row .right .grid .grid-item .content h4 a:hover {
          color: #FFD0D0;
          text-decoration: none; }
      #products .content .row .right .grid .grid-item .content h6 {
        color: #ccc;
        font-family: "Roboto", sans-serif; }
      #products .content .row .right .grid .grid-item .content .price {
        font-family: "Roboto", sans-serif;
        font-size: 1.125rem; }
        #products .content .row .right .grid .grid-item .content .price span {
          display: block;
          color: #666; }
          #products .content .row .right .grid .grid-item .content .price span small {
            color: #999;
            text-decoration: line-through; }
    #products .content .row .right .grid .grid-item:hover .mask img {
      -webkit-transform: scale(1.1, 1.1);
      -moz-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
      -o-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1);
      -webkit-transition: all ease-in-out 300ms;
      -moz-transition: all ease-in-out 300ms;
      -ms-transition: all ease-in-out 300ms;
      -o-transition: all ease-in-out 300ms;
      transition: all ease-in-out 300ms; }

#detail-product .container#detail {
  padding-top: 20vh; }
  #detail-product .container#detail .row {
    padding-bottom: 50px; }
    #detail-product .container#detail .row .left {
      height: 80vh; }
      #detail-product .container#detail .row .left .slider-product {
        display: flex;
        flex-direction: row;
        height: 100%; }
        #detail-product .container#detail .row .left .slider-product ul {
          padding-left: 0;
          list-style: none; }
          #detail-product .container#detail .row .left .slider-product ul.slides {
            width: 80%;
            height: 100%;
            position: relative; }
            #detail-product .container#detail .row .left .slider-product ul.slides li {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1; }
              #detail-product .container#detail .row .left .slider-product ul.slides li:target {
                z-index: 3;
                -webkit-animation: slide 1s 1; }
              #detail-product .container#detail .row .left .slider-product ul.slides li:not(:target) {
                -webkit-animation: hidden 1s 1; }
              #detail-product .container#detail .row .left .slider-product ul.slides li img {
                width: 100%;
                height: 100%;
                object-fit: cover; }
          #detail-product .container#detail .row .left .slider-product ul.thumbnails {
            width: calc(20% - 15px);
            height: 100%;
            margin-right: 15px;
            overflow: scroll; }
            #detail-product .container#detail .row .left .slider-product ul.thumbnails li {
              width: 100%;
              height: 20%; }
              #detail-product .container#detail .row .left .slider-product ul.thumbnails li a img {
                width: 100%;
                height: 100%;
                object-fit: cover; }
@keyframes slide {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0%); } }
@keyframes hidden {
  0% {
    z-index: 2; }
  100% {
    z-index: 2; } }
    #detail-product .container#detail .row .right .content {
      display: flex;
      flex-direction: column; }
      #detail-product .container#detail .row .right .content .item {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #999; }
        #detail-product .container#detail .row .right .content .item:last-of-type {
          border-bottom: none; }
        #detail-product .container#detail .row .right .content .item h5 {
          font-family: "Roboto", sans-serif; }
        #detail-product .container#detail .row .right .content .item table {
          margin-top: 30px; }
          #detail-product .container#detail .row .right .content .item table td {
            padding: 7px 0; }
            #detail-product .container#detail .row .right .content .item table td span {
              font-family: "Roboto", sans-serif; }
        #detail-product .container#detail .row .right .content .item.overall h4 {
          margin-bottom: 30px; }
        #detail-product .container#detail .row .right .content .item.overall .code {
          font-family: "Roboto", sans-serif;
          color: #999; }
        #detail-product .container#detail .row .right .content .item.overall table {
          margin-top: 30px; }
          #detail-product .container#detail .row .right .content .item.overall table span {
            color: #666; }
            #detail-product .container#detail .row .right .content .item.overall table span small {
              color: #999;
              text-decoration: line-through; }
        #detail-product .container#detail .row .right .content .item.detail table tr:last-of-type td:last-of-type {
          text-align: right; }
          #detail-product .container#detail .row .right .content .item.detail table tr:last-of-type td:last-of-type a {
            font-family: "Roboto", sans-serif;
            font-size: 0.75rem;
            color: #666; }
        #detail-product .container#detail .row .right .content .item.desc button {
          width: 100%; }
        #detail-product .container#detail .row .right .content .item.desc p a {
          color: #FFD0D0; }
        #detail-product .container#detail .row .right .content .item.share a {
          color: #666; }
          #detail-product .container#detail .row .right .content .item.share a:hover {
            color: #FFD0D0; }
#detail-product .container#related {
  padding-top: 50px;
  padding-bottom: 50px; }
  #detail-product .container#related .row .item .image {
    width: 100%;
    height: 50vh;
    position: relative; }
    #detail-product .container#related .row .item .image .mask {
      width: 80%;
      height: 100%; }
      #detail-product .container#related .row .item .image .mask img {
        -webkit-transition: all ease-in-out 300ms;
        -moz-transition: all ease-in-out 300ms;
        -ms-transition: all ease-in-out 300ms;
        -o-transition: all ease-in-out 300ms;
        transition: all ease-in-out 300ms; }
    #detail-product .container#related .row .item .image .name {
      width: 100%;
      height: 50px;
      position: absolute;
      top: 0;
      left: 100%;
      color: #999;
      -webkit-transform: rotateZ(90deg);
      -moz-transform: rotateZ(90deg);
      -ms-transform: rotateZ(90deg);
      -o-transform: rotateZ(90deg);
      transform: rotateZ(90deg);
      -webkit-transform-origin: top left;
      -moz-transform-origin: top left;
      -ms-transform-origin: top left;
      -o-transform-origin: top left;
      transform-origin: top left; }
  #detail-product .container#related .row .item .content {
    padding-top: 15px; }
    #detail-product .container#related .row .item .content h4 a {
      color: #666; }
      #detail-product .container#related .row .item .content h4 a:hover {
        color: #FFD0D0;
        text-decoration: none; }
    #detail-product .container#related .row .item .content h6 {
      color: #ccc;
      font-family: "Roboto", sans-serif; }
    #detail-product .container#related .row .item .content .price {
      font-family: "Roboto", sans-serif;
      font-size: 1.125rem; }
      #detail-product .container#related .row .item .content .price span {
        display: block;
        color: #666; }
        #detail-product .container#related .row .item .content .price span small {
          color: #999;
          text-decoration: line-through; }
  #detail-product .container#related .row .item:hover .mask img {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms; }

@media (max-width: 992px) and (min-width: 768px) {
  #products .content .row .left {
    order: 2; }
  #products .content .row .right {
    order: 1; }

  #detail-product .container#detail {
    padding-top: 10vh; } }
@media (max-width: 768px) {
  #products .content .row .left {
    order: 2; }
  #products .content .row .right {
    order: 1; }
    #products .content .row .right .grid .grid-sizer, #products .content .row .right .grid .grid-item {
      width: 100%; }

  #detail-product .container#detail {
    padding-top: 10vh; } }
#blogs {
  padding-top: 20vh; }
  #blogs .container-fluid#grid-controls {
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid #999; }
    #blogs .container-fluid#grid-controls .container .nav .nav-item {
      font-family: "Roboto", sans-serif; }
      #blogs .container-fluid#grid-controls .container .nav .nav-item .nav-link {
        width: 100%;
        border: none;
        color: #666;
        outline: none; }
        #blogs .container-fluid#grid-controls .container .nav .nav-item .nav-link.active {
          background-color: transparent;
          color: #FFD0D0;
          border-bottom: 2px solid #FFD0D0; }
        #blogs .container-fluid#grid-controls .container .nav .nav-item .nav-link:hover {
          cursor: pointer; }
  #blogs .container#grid-content .grid {
    padding-top: 50px; }
    #blogs .container#grid-content .grid .grid-sizer, #blogs .container#grid-content .grid .grid-item {
      width: 33.33%; }
    #blogs .container#grid-content .grid .grid-item {
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 30px; }
      #blogs .container#grid-content .grid .grid-item .image img {
        width: 100%; }
      #blogs .container#grid-content .grid .grid-item .content {
        padding-top: 15px; }
        #blogs .container#grid-content .grid .grid-item .content h4 a {
          color: #666; }
          #blogs .container#grid-content .grid .grid-item .content h4 a:hover {
            color: #FFD0D0;
            text-decoration: none; }
        #blogs .container#grid-content .grid .grid-item .content p {
          color: #999; }
          #blogs .container#grid-content .grid .grid-item .content p a {
            color: #FFD0D0; }
        #blogs .container#grid-content .grid .grid-item .content span.date {
          color: #ccc;
          font-family: "Roboto", sans-serif; }

#detail-blog .container {
  padding-top: 20vh; }
  #detail-blog .container .back {
    display: block;
    margin-bottom: 7px; }
    #detail-blog .container .back a {
      color: #999; }
      #detail-blog .container .back a:hover {
        color: #FFD0D0;
        cursor: pointer; }
  #detail-blog .container .cover {
    width: 100%;
    height: 40vh;
    margin-bottom: 30px; }
    #detail-blog .container .cover .mask {
      width: 100%;
      height: 100%; }
  #detail-blog .container article .heading {
    margin-bottom: 30px; }
    #detail-blog .container article .heading span {
      display: block;
      font-family: "Roboto", sans-serif;
      color: #CCC; }
      #detail-blog .container article .heading span a {
        color: #ccc;
        text-decoration: underline; }
  #detail-blog .container article .content p {
    color: #999; }
  #detail-blog .container .recommended {
    margin-top: 50px; }
    #detail-blog .container .recommended .heading {
      padding-bottom: 15px;
      border-bottom: 1px solid #999;
      margin-bottom: 30px; }
    #detail-blog .container .recommended .row {
      margin-bottom: 30px; }
      #detail-blog .container .recommended .row .item {
        padding-left: 15px;
        padding-right: 15px; }
        #detail-blog .container .recommended .row .item .image img {
          width: 100%; }
        #detail-blog .container .recommended .row .item .content {
          padding-top: 15px; }
          #detail-blog .container .recommended .row .item .content h4 a {
            color: #666; }
            #detail-blog .container .recommended .row .item .content h4 a:hover {
              color: #FFD0D0;
              text-decoration: none; }
          #detail-blog .container .recommended .row .item .content p {
            color: #999; }
            #detail-blog .container .recommended .row .item .content p a {
              color: #FFD0D0; }
          #detail-blog .container .recommended .row .item .content span.date {
            color: #ccc;
            font-family: "Roboto", sans-serif; }

@media (max-width: 992px) and (min-width: 768px) {
  #blogs {
    padding-top: 10vh; }
    #blogs .container#grid-content .grid {
      padding-top: 50px; }
      #blogs .container#grid-content .grid .grid-sizer, #blogs .container#grid-content .grid .grid-item {
        width: 50%; }

  #detail-blog .container {
    padding-top: 10vh; } }
@media (max-width: 768px) {
  #blogs {
    padding-top: 10vh; }
    #blogs .container#grid-content .grid {
      padding-top: 50px; }
      #blogs .container#grid-content .grid .grid-sizer, #blogs .container#grid-content .grid .grid-item {
        width: 100%; }

  #detail-blog .container {
    padding-top: 10vh; } }

/*# sourceMappingURL=style.css.map */
